.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0px;
}

.caption-full{
    padding: 9px;
}
#button{
    padding-bottom: 4px;
}
body{
    background-color: chocolate;
}
#delete-form{
    display: inline;
}
